.contacts-list {
  display: flex;
}

.contacts-list-item:first-child {
  margin-right: 50px;
}

.contacts-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primary-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;

  transition: color $duration $timing-function;
}

.contacts-list-link:hover,
.contacts-list-link:focus {
  color: $accent-color;
}

.contacts-list-icon {
  margin-right: 10px;
  fill: $primary-text-color;
  transition: fill $duration $timing-function;
}

.envelope {
  width: 16px;
  height: 12px;
}

.smartphone {
  width: 10px;
  height: 16px;
}

.contacts-list-link:hover .contacts-list-icon,
.contacts-list-link:focus .contacts-list-icon {
  fill: $accent-color;
}

.site-nav-item .link,
.contacts-list-item .link {
  padding: 32px 0px;
}
