.navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav-item {
  display: flex;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-item .link,
.contacts-list-item .link {
  padding: 32px 0px;
}

.site-nav-link {
  color: $title-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;

  transition: color $duration $timing-function;
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: $accent-color;
}

.current {
  position: relative;
  color: $accent-color;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: $accent-color;
}
